<div class="container fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
      <% @result.each do |r| %>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail text-center">
            <%= image_tag r['movie']['posterhref'] %>
            <strong><%= r['movie']['title'] %></strong>
            <%= r['movie']['releasedate'] %>
            <%= link_to 'Discover', new_challenge_path(:select_movie => r), :data => {:controller => 'challenges', :action => 'new'}, :class => "btn btn-primary btn-lg btn-block"  %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>